@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.projects {
    margin: 10rem 0;
  

    &__title {
        @include main-title-fonts;
    }

    &__blurb {
        @include body-fonts;
        @include tablet {
            font-size: 1.5rem;
            margin: 4rem;
            
        }
    }

    &__list {
        @include flex-column;
        align-items: center;
        margin: 2rem;
            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
            }
    }
 
    &__list-items {
        padding: 2rem;
        margin: 1rem;
        border: 2px solid;
        width: 90%;
        @include body-fonts;
            @include tablet {
                width: 60%;
                    @include desktop {
                        width: 30%;
                    }
            } &:hover {
                @include button-hover-2;
            }
    }

    &__name {
        @include main-title-fonts;
        margin: 0;
    }

    &__tech-stack {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 

    &__tech-stack-item {
        margin: 1rem;
        @include body-fonts;
        border: 2px solid;
        border-radius: 100px;
        padding: 2rem;

    }
}