@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.profile {
    background: linear-gradient(to right, rgb(20, 69, 47) 10%, rgb(29, 46, 40) 100%);
    font-family: $roboto-font;
    color: $main-font-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
        @include tablet {
            flex-direction: row;
        }

    &__title {
        font-size: .75rem;
        margin: 0 1rem;
            @include tablet {
                font-size: 3rem;
                line-height: 2rem;
            }
    }
}