@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.work {
    font-family: $roboto-font;

    &__title {
        font-size: 1.75rem;
        margin: 1rem;
            @include tablet {
                font-size: 2rem;
                margin: 2rem 1rem;
            }
    }

    &__button {
        border: 2px solid $dark-fill-color;
        border-radius: 40px;
        color: inherit;
        padding: .75rem;
        margin: 2rem;
        text-decoration: none;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
            @include tablet {
                font-size: 1.5rem;
                padding: 1rem;
            }&:hover {
                @include button-hover;
        }
    }

    &__section {
        margin: 1.25rem;
        text-wrap: wrap;
    }

    &__header {
        background-color: #cc8b65;        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: .25rem 0;
        padding: 0 1rem;
            @include tablet {
              
            }
    }

    &__dropdown-icon {
        fill: $dark-fill-color;
        height: 50px;
        width: 50px;
    }

    &__education,
    &__experience,
    &__skills {
        font-size: 1rem;
            @include tablet {
                font-size: 2rem;
            }

    }

    &__list-item {
        margin: 1rem;
            @include tablet {
                font-size: 2rem;
                line-height: 6rem;
            }
    }
}
