@import '../partials/variables';
@import '../partials/mixins';


body {
  margin: 1rem;
  width: 95vw;
  &.light-theme {
    @include light-theme;
  }

  &.dark-theme {
    @include dark-theme;
  }
  
  color: var(--text-color);
}

li {
    text-decoration: none;
    list-style: none;
    color: inherit;
    cursor: pointer;
}

