html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}


* {
    margin: 0;
    padding: 0;
  }

li {
    text-decoration: none;
    list-style: none;
    color: inherit;
    cursor: pointer;
}

