@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.light-theme .contact {
    background-color: $light-fill-color; 
    color: $background-color-dark; 
}
  
.dark-theme .contact {
    background-color: $dark-fill-color; 
    color: $background-color-light;
}

.contact {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
        @include tablet {
            padding: 2rem;
            flex-direction: row;
            justify-content: space-evenly;
                @include desktop {
                    padding: 4rem; 
                }
        }
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
            @include tablet {
                align-items: flex-start;
                margin: 4rem;
            }
    }

    &__title {
        font-family: $roboto-font;
        margin: 0;
    }

    &__name,
    &__email {
        margin: .5rem;
        padding: 1rem 10rem .25rem 0.25rem;
        @include form-border;
            @include tablet {
                font-size: 1.5rem;
            }
    }

    &__message {
        margin: 1rem;
        padding: 5rem 10rem 0 0.25rem;
        @include form-border;
            @include tablet {
                font-size: 1.5rem;
                padding: 5rem 6rem 0 .25rem;
                height: 30px;
            }
    }

    &__button {
        border-radius: 50px;
        padding: 1rem;
        margin: 1rem;
        border: none;
    }

    &__connect-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__connect {
        font-family: $roboto-font;
        margin: 3rem 0;
            @include tablet {
                margin: 4rem;
            }
    }

    &__thank-you {
        font-family: $comfortaa-font;
        margin: 1rem;
        text-align: center;
            @include tablet {
                padding: 1rem 4rem;
                margin: 0;
                font-size: 1.5rem;
                max-width: 35rem;
            }

    }

    &__svg {
        width: 20rem;
        margin: 0;
    }
}

input[type="text"]::placeholder,
input[name="email"]::placeholder,
textarea::placeholder {
    color: white;
}


