@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.contact {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    max-width: 90vw;
    margin: 4rem auto;
    padding: 1rem;
        @include tablet {
            margin: 8rem 0;
            flex-direction: row;
            max-width: 80vw;
        }
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
            @include tablet {
                align-items: flex-start;
                margin: 4rem;
            }
    }

    &__title {
        font-family: $roboto-font;
        margin: 0;
    }

    &__name,
    &__email {
        margin: .5rem;
        padding: 1rem 10rem .25rem 0.25rem;
        @include form-border;
            @include tablet {
                font-size: 1.5rem;
            }
    }

    &__message {
        margin: 1rem;
        padding: 5rem 10rem 0 0.25rem;
        @include form-border;
            @include tablet {
                font-size: 1.5rem;
                padding: 5rem 6rem 0 .25rem;
            }
    }

    &__button {
        @include button-hover-1;
        padding: 1rem;
        margin: 1rem;
        border: none;
    }

    &__connect {
        font-family: $roboto-font;
    }

    &__thank-you {
        font-family: $comfortaa-font;
        margin: 2rem;
            @include tablet {
                padding: 1rem 4rem;
                font-size: 1.5rem;
            }

    }
}