@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.header {
    font-family: $comfortaa-font;
    background: linear-gradient(to right, rgb(20, 69, 47) 10%, rgb(29, 46, 40) 100%);
    color: $secondary-font-color;
    @include flex-header;
    align-items: center;
    justify-content: space-between;
    @include tablet {
        flex-direction: row;
        height: 100px;
    }

    &__info {
        @include flex-header;
        align-items: center;
        @include tablet {
            flex-direction: row;
            align-items: baseline;
        }
    }

    &__title {
        font-size: 2rem;
        margin: 1rem;
    }

    &__subtitle {
        border-bottom: .5px solid $border;
        padding: .5rem 0;
            @include tablet {
                border-bottom: none;
            }
    }

    &__nav-list {
       @include flex-header;
        @include tablet {
            flex-direction: row;
        }
    }

    &__nav-item {
        padding: 1rem 2rem;
        margin: .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        @include tablet {
            margin: 0 2rem;
            font-size: 1.5rem;
        } &:hover {
            border-radius: 40px;
            color: #fff;
            box-shadow: inset 200px 0 0 0 rgb(20, 69, 47);
        }
    }
}