@import '../../styles/partials/_variables';
@import '../../styles/partials/_mixins';

.header {
    font-family: $comfortaa-font;
    @include flex-column;
    align-items: center;
    justify-content: space-between;
        @include tablet {
            flex-direction: row;
            height: 100px;
            position: sticky;
            top: 0;
            z-index: 10;
            backdrop-filter: blur(10px);
        }

    &__info {
        @include flex-column;
        align-items: center;
        @include tablet {
            flex-direction: row;
            align-items: baseline;
        }
    }

    &__title title {
        font-size: 2rem;
        margin: 1rem;
            @include tablet {
                font-size: 4rem;
            }
    }

    &__subtitle {
        border-bottom: .5px solid $dark-fill-color;
        padding: .5rem 0;
            @include tablet {
                border-bottom: none;
            }
    }

    &__nav-list {
       @include flex-column;
        padding: 0;
        @include tablet {
            flex-direction: row;
        }
    }

    &__nav-item {
        padding: .5rem 1rem;
        margin: .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        @include tablet {
            margin: 0 1rem;
            padding: 1rem 2rem;
            font-size: 1.5rem;
        } &:hover {
            @include button-hover-1;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
    }

    &__theme-icon  {
        fill: $dark-fill-color;
        height: 20px;
        width: 20px;
        margin: 1rem;
            @include tablet {
                height: 80px;
                width: 80px;
            }
    }
}

